<section class="customer-reviews">
  <div class="container">
    <ul class="slider">
      <li class="slider__item">
        <img class="customer-reviews__img" src="/images/slider-mob-1-1x.png" alt="" />
      </li>
      <li class="slider__item">
        <img class="customer-reviews__img" src="/images/slider-mob-2-1x.png" alt="" />
      </li>
      <li class="slider__item">
        <img class="customer-reviews__img" src="/images/slider-mob-3-1x.png" alt="" />
      </li>
    </ul>
    <div class="customer-reviews__box">
      <img class="customer-reviews__svg" src="/images/“.svg" alt="" />
      <p class="customer-reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <ul class="marker">
      <li class="marker__item"></li>
      <li class="marker__item"></li>
      <li class="marker__item"></li>
    </ul>
    <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
    <!-- <ul class="switch slider">
      <li class="switchr__item">
        <img class="qwe" src="/images/customer-reviews-ellips.svg" alt="" />
      </li>
      <li class="switch__item">
        <img class="qwe" src="/images/customer-reviews-ellips.svg" alt="" />
      </li>
      <li class="switch__item">
        <img class="qwe" src="/images/customer-reviews-ellips.svg" alt="" />
      </li>
    </ul> -->
  </div>
</section>
