<footer>
    <section class="foter">
        <div class="container">
            <p class="footer__text">homemade ice cream <br> made</p>
            <p class="footer__text--dark-pink">with <br> passion</p>

            <ul class="list footer-list">
                <li class="link footer-list__item">
                    <a href="#" rel="noreferrer nofolow" class="">github
                        <!-- <svg>
                            <use>./images/icons.svg#github</use>
                        </svg> -->
                    </a>
                </li>
                <li class="link footer-list__item">
                    <a href="#" rel="noreferrer nofolow" class="">telegram
                        <!-- <svg>
                            <use>./images/icons.svg#telegram</use>
                        </svg> -->
                    </a>
                </li>
                <li class="link footer-list__item">
                    <a href="#" rel="noreferrer nofolow" class="">facebook
                        <!-- <svg>
                            <use>./images/icons.svg#facebook</use>
                        </svg> -->
                    </a>
                </li>
            </ul>

            <a href="tel:+610383766284" class="link footer__contact--tel">Feel free to contact <span
                    class="footer__contact--pink-tel">+61 (0) 383 766
                    284</span></a>
            <div class="footer__bottom">
                <p class="footer__copyright">© 2019 - IceCream.<br>All Rights Reserved.</p>
            </div>


        </div>
    </section>
</footer>